.form-container,
.session-main {
  height: 100%;
}

.session-main {
  background-color: whitesmoke;
}

.image-and-form-container {
  height: 60vh;
}

.message-me-header {
  font-family: "Lemon", cursive;
  padding: 20px 0;
  font-size: 30px;
}

.form-container {
  font-family: "Catamaran", sans-serif;
  button {
    width: 50%;
    height: 25px;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 0;
    text-transform: capitalize;
    background-color: blue;
    color: whitesmoke;
  }

  input {
    padding: 10px;
    width: 200px;
    margin: 10px;
    font-size: 16px;
  }
}

.eye-icon-container {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.error {
  color: red;
  font-size: 20px;
}
