.form-container,
.session-main {
  height: 100%;
}

.session-main {
  background-color: burlywood;
}

.message-me-header {
  font-family: "Lemon", cursive;
  padding: 20px 0;
  font-size: 30px;
}

.form-container {
  font-family: "Catamaran", sans-serif;
  button {
    width: 50%;
    height: 25px;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px 0;
    text-transform: capitalize;
    transition: all 1s ease;
    border: 0;

    &:hover {
      transform: scale(1.3) perspective(1px) translate3d(0, 0, 0);
      background-color: yellow;
    }
  }

  input {
    padding: 10px;
    width: 200px;
    margin: 10px;
    font-size: 16px;
  }
}
