@import "base/colors.scss";

main {
  background-color: burlywood;
  font-family: sans-serif;
  font-size: 24px;
  height: 100%;
  display: flex;
  width: 100%;
}

.sidebar {
  width: 15%;
  height: 100%;
}

.messages {
  width: 85%;
}

.user-search-results {
  li {
    padding: 10px 0 10px 15px;
    &:hover {
      background-color: $darker-burlywood;
    }
  }
}

.user-search-input-container {
  display: flex;
  padding-top: 10px;
  input {
    border: 0;
    background-color: black;
    text-align: center;
    width: 90%;
    color: white;
    font-size: 14px;
  }
}

#left-text-align {
  text-align: left;
}

.fa-search {
  width: 10%;
  background-color: black;
  color: yellow;
  padding: 5px;
}
