@import "base/colors.scss";

main {
  background-color: burlywood;
  font-family: sans-serif;
  font-size: 24px;
  height: 100%;
  display: flex;
  width: 100%;
}

.sidebar {
  width: 15%;
  height: 100%;
}

.messages {
  width: 85%;
}

.user-search-results {
  li {
    padding: 10px 0 10px 15px;
    &:hover {
      background-color: $darker-burlywood;
    }
  }
}

.user-search-input-container {
  display: flex;
  padding-top: 10px;
  input {
    border: 0;
    background-color: black;
    text-align: center;
    width: 90%;
    color: white;
    font-size: 14px;
  }
}

#left-text-align {
  text-align: left;
}

.fa-search {
  width: 10%;
  background-color: black;
  color: yellow;
  padding: 5px;
}

.under-construction-info {
  padding-top: 50px;
  display: flex;
}

.links {
  margin-top: 30px;
  display: flex;
  padding-left: 20px;
  li {
    padding: 0 10px;
  }
}

.sign-out-btn {
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
  background-color: red;
}

.under-construction-img {
  background-image: image_url("under-construction.png");
  height: 300px;
  background-repeat: no-repeat;
}
