.right-collection {
  width: 85%;
}

.message-header {
  width: 100%;
  height: 10%;
  border: 1px solid red;
}

.messages {
  height: 80%;
  border: 1px solid blue;
  ul {
    display: flex;
    flex-direction: column;
  }
  overflow-y: auto;
}

.message-form-container {
  height: 10%;
  border: 1px solid green;
  textarea {
    width: 90%;
    height: 100%;
    resize: none;
    padding: 15px 0 0 15px;
  }
}

.other-user-msg,
.current-user-msg {
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.other-user-msg {
  background-color: grey;
  align-self: flex-start;
  margin-left: 10px;
}

.current-user-msg {
  color: white;
  background-color: blue;
  align-self: flex-end;
  margin-right: 10px;
}
