.right-collection {
  width: 85%;
}

.message-header {
  width: 100%;
  height: 10%;
  border: 1px solid red;
}

.messages {
  height: 80%;
  border: 1px solid blue;
}

.message-form-container {
  height: 10%;
  border: 1px solid green;
  form {
    textarea {
      width: 90%;
      height: 100%;
      resize: none;
      padding: 15px 0 0 15px;
    }

    button {
    }
  }
}
