.right-collection {
  width: 75%;
  height: 100vh;
}

.message-header {
  width: 100%;
  height: 10%;
  border: 1px solid gray;
  border-bottom: none;
  box-sizing: border-box;
}

.messages {
  height: 85%;
  border: 1px solid gray;
  ul {
    display: flex;
    flex-direction: column;
  }
}

.lower-container {
  border: 1px solid gray;
  border-top: none;
  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 15px 0 0 15px;
    border: 0;
  }
}

.other-user-msg,
.current-user-msg {
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  max-width: 45%;
}

.other-user-msg {
  background-color: grey;
  align-self: flex-start;
  margin-left: 10px;
}

.current-user-msg {
  color: white;
  background-color: darkcyan;
  align-self: flex-end;
  margin-right: 10px;
}

.btn-and-input-container {
  display: flex;
  justify-content: space-between;
}

.send-btn {
  background-color: white;
  border: 0;
  font-weight: bolder;
  color: black;
  font-size: 32px;
}
