@import "base/colors.scss";

.user-search-results > li {
  box-sizing: border-box;
  padding: 0px 5px 10px 10px;
}

.hidden-input {
  height: 0;
  width: 0;
  border: 0;
  padding: 0;
}

.user-search-input-container {
  display: flex;
  height: 35px;
  padding-bottom: 10px;
  input {
    border: 0;
    background-color: lightgray;
    text-align: center;
    width: 100%;
    color: black;
    font-size: 14px;
    box-sizing: border-box;
    height: 100%;
    &:focus {
      text-align: left;
    }
  }
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#left-text-align {
  text-align: left;
}

.fa-search {
  background-color: lightgray;
  color: darkgray;
  padding: 5px;
}

.search {
  height: 90%;
  background-color: whitesmoke;
}

.gray-text {
  padding-bottom: 8px; // prevents cutoff of the letter "y" and if the username has a "g"
  color: gray;
  font-size: 14px;
}

.most-recent-time {
  margin-top: 5px;
}
