@import "base/colors.scss";

.user-search-results > li {
  box-sizing: border-box;
  padding: 0px 5px 10px 10px;
}

.hovered {
  background-color: $darker-burlywood;
}

.hidden-input {
  height: 0;
  width: 0;
  border: 0;
  padding: 0;
}

.user-search-input-container {
  display: flex;
  height: 35px;
  input {
    border: 0;
    background-color: black;
    text-align: center;
    width: 90%;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    height: 100%;
    &:focus {
      text-align: left;
    }
  }
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#left-text-align {
  text-align: left;
}

.fa-search {
  width: 10%;
  background-color: black;
  color: yellow;
  padding: 5px;
}

.search {
  height: 90%;
  background-color: burlywood;
}

.gray-text {
  padding-bottom: 1px; // prevents cutoff of the letter "y"
  color: gray;
  font-size: 14px;
}

.user-search-result-info {
  position: relative;
}

.most-recent-time {
  position: absolute;
  bottom: 0;
  right: 0;
}
