@import "base/colors.scss";

.user-search-results {
  li {
    padding: 10px 0 10px 15px;
    box-sizing: border-box;
    &:hover {
      background-color: $darker-burlywood;
    }
  }
}

.user-search-input-container {
  display: flex;
  input {
    border: 0;
    background-color: black;
    text-align: center;
    width: 90%;
    color: white;
    font-size: 14px;

    &:focus {
      text-align: left;
    }
  }
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#left-text-align {
  text-align: left;
}

.fa-search {
  width: 10%;
  background-color: black;
  color: yellow;
  padding: 5px;
}

.search {
  height: 90%;
  background-color: burlywood;
}

.results-logout-btn-container {
  display: flex;
  flex-direction: column;
}

.sign-out-btn {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  background-color: red;
}
