.sidebar {
  width: 25%;
  height: 100vh;
}

.sidebar-header-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10px 0;
  i {
    color: blue;
  }
}

.sidebar__header {
  font-family: "Questrial", sans-serif;
}

.results-logout-btn-container {
  display: flex;
  flex-direction: column;
  height: 96%;
}

.sign-out-btn {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
  border: 0;
  background-color: red;
}
