.sidebar {
  width: 15%;
  height: 100vh;
}

.sidebar__header {
  height: 10%;
  font-family: "Questrial", sans-serif;
}

.results-logout-btn-container {
  display: flex;
  flex-direction: column;
  height: 96%;
}

.sign-out-btn {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  background-color: red;
}
