.sidebar {
  width: 25%;
  height: 100vh;
}

.sidebar-header-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10px 37px;
  i {
    color: blue;
  }
}

#header-dropdown-menu {
  left: 18px;
  top: 35px;
  height: 22px;
}

.sidebar__header {
  font-family: "Questrial", sans-serif;
}

.results-logout-btn-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
