@import "base/colors.scss";

.user-search-result li {
  display: flex;
  justify-content: space-between;
}

.user-search-results {
  li {
    position: relative;
    &:hover {
      background-color: $darker-burlywood;
      .fa-cog {
        display: block !important;
      }
    }
  }
}

.dropdown-menu {
  position: absolute;
  right: 0;
  width: 100px;
  height: 66px;
  background-color: whitesmoke;
  z-index: 2;
  li {
    &:hover {
      background: blue;
      color: whitesmoke;
    }
    position: relative;
    text-align: center;
    display: inherit;
    padding: 5px 0 5px 0;
    width: 100%;
    font-size: 12px;
  }
}

.hidden {
  &:hover {
    background-color: burlywood !important;
  }
  // shame: need to let the last chat options dropdown menu go on top of the element that comes underneath it.
  // without this hidden li, the menu gets cut off. temporary fix until something better
  // the lack of a background color provides a better UI because the hover effect indicates a user to be
  // clicked on
}
