.user-search-result li {
  display: flex;
  justify-content: space-between;
}

.user-search-results {
  li {
    position: relative;
    &:hover {
      background-color: lightgray;
      .fa-cog {
        display: block !important;
      }
    }
  }
}

.dropdown-menu {
  position: absolute;
  right: 0;
  width: 100px;
  height: 66px;
  background-color: whitesmoke;
  z-index: 2;
  box-shadow: 5px 5px 5px grey;
  border: 1px solid gray;
  li {
    &:hover {
      background: blue;
      color: whitesmoke;
    }
    position: relative;
    text-align: center;
    display: inherit;
    padding: 5px 0 5px 0;
    width: 100%;
    font-size: 12px;
  }
}
